@font-face {
  font-family: 'league_gothicregular';
  src: url("leaguegothic-regular-webfont.eot");
  font-weight: normal;
  font-style: normal;
}
.social-sprite, .label_link {
  background-image: url("../img/social-s2cbdc76e75.png");
  background-repeat: no-repeat;
}

.page {
  font-family: 'league_gothicregular';
  color: #fff;
  background: #f9f9f9;
}

.lage {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  padding-top: 70px;
  background: url(../img/1920.jpg) no-repeat;
  background-position: 52% 100%;
  overflow: hidden;
  text-align: left;
}

.label {
  float: left;
  margin-left: -21px;
}

.label_link {
  display: block;
  margin-top: -1px;
  margin-left: 20px;
  margin-bottom: 32px;
  width: 152px;
  height: 41px;
  background-position: 0 -3893px;
  color: #fff;
  font-size: 48px;
}

.slider {
  margin-top: 250px;
  margin-bottom: -42px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.49);
  text-align: left;
}

.slider_title {
  margin-left: -1px;
  margin-bottom: 0px;
  color: #fefefe;
  font-size: 61px;
  letter-spacing: -1.3px;
  word-spacing: 3.1px;
}

.slider_span {
  margin-left: 0px;
  text-transform: uppercase;
  color: #edbfff;
  font-size: 30px;
  letter-spacing: 0.1px;
  word-spacing: 1.6px;
}

.slider_p {
  display: block;
  margin-left: -1px;
  margin-top: 4px;
  width: 527px;
  height: 143px;
  font-family: 'Open Sans Light', arial;
  font-size: 18px;
  line-height: 23.9px;
  letter-spacing: -0.3px;
  word-spacing: 1.1px;
  overflow: hidden;
}

.slider_p::first-line {
  line-height: 27.9px;
}

.slider_p__span {
  letter-spacing: -0.3px;
  word-spacing: 0.4px;
}

.slider_p__span1 {
  letter-spacing: -0.3px;
  word-spacing: 0.4px;
  margin-left: -4px;
}

.slider_p__span2 {
  letter-spacing: -0.9px;
  word-spacing: 0.4px;
  margin-left: -2px;
}

.slider_p__span3 {
  letter-spacing: -0.9px;
  word-spacing: 0.5px;
  margin-left: 2px;
}

.slider_p__span4 {
  letter-spacing: -0.8px;
  word-spacing: 0.5px;
  margin-left: 1px;
}

.slider_radio {
  position: relative;
  margin-top: 179px;
  margin-left: 74%;
  margin-bottom: 98px;
}

.slider_radio_item {
  position: relative;
  display: inline-block;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  background-color: #333;
  border-radius: 50%;
  behavior: url(PIE.htc);
}

.slider_radio_item:hover .slider_radio_link {
  display: block;
}

.slider_radio_link {
  position: relative;
  display: none;
  margin: 3px auto;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  behavior: url(PIE.htc);
}

.slider_radio__mr {
  margin: 19px 15px 70px 194px;
}

.slider_radio_item__mod {
  margin-right: 2px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
}

.slider_radio_link__mod {
  background-color: #454545;
}

.footer {
  padding-top: 43px;
  padding-bottom: 14px;
  background: url(../img/footer1920.jpg) no-repeat;
  box-sizing: cover;
  color: #fff;
  font-family: 'Open Sans Light', arial;
  font-size: 12px;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.49);
}

.footer_spans {
  float: right;
  margin-top: -49px;
  margin-right: 0px;
}

.footer_span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.top-menu {
  display: none;
}

.menu-bottom {
  margin-top: 3px;
  margin-left: 33.4%;
  margin-bottom: 28px;
}

.menu-bottom_item {
  display: inline-block;
}

.menu-bottom_link {
  display: block;
  margin-right: 54px;
  padding: 0 4px 8px 5px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.49);
  behavior: url(PIE.htc);
  text-transform: uppercase;
  font-family: 'league_gothicregular';
  color: #fff;
  font-size: 24px;
  letter-spacing: 0px;
}

.menu-bottom_link:hover {
  padding-bottom: 6px;
  border-bottom: 2px solid #edbfff;
}

.menu-bottom_link__h {
  margin-right: 41px;
}

.menu-bottom_link__a {
  margin-right: 41px;
}

.menu-bottom_link__b {
  margin-right: 41px;
}

.menu-bottom_link__p {
  margin-right: 41px;
}

.menu-bottom_link__l {
  margin-right: 41px;
}

.menu-bottom_link__d {
  margin-right: 0px;
  padding: 0 2px 8px 2px;
}

.menu-bottom__bot {
  margin-left: -7px;
  text-align: center;
}

.menu-bottom_link__bot {
  font-size: 20px;
}

.menu-bottom_link__h__bot {
  margin-right: 31px;
}

.menu-bottom_link__a__bot {
  margin-right: 33px;
}

.menu-bottom_link__b__bot {
  margin-right: 32px;
}

.menu-bottom_link__p__bot {
  margin-right: 32px;
}

.menu-bottom_link__l__bot {
  margin-right: 32px;
}

.social-sprite, .main_dote, .avatar_face, .menu-nunc_item_bgr1, .menu-nunc_item_bgr2, .menu-nunc_item_bgr3, .sponsor_link__label1, .sponsor_link__label2, .sponsor_link__label3, .sponsor_link__label4, .sponsor_link__label5, .sponsor_link__label6 {
  background-image: url("../img/social-s2cbdc76e75.png");
  background-repeat: no-repeat;
}

.main {
  position: relative;
  padding-top: 0px;
  padding-bottom: 3px;
  background: #f9f9f9;
  border-top: 1px solid #f9f9f9;
  overflow: hidden;
}

.main_dote {
  display: block;
  margin: 0 auto;
  width: 15px;
  height: 15px;
  background-position: 0 -193px;
}

.main_hr {
  border-bottom: 1px solid #e6e6e6;
}

.avatar {
  margin-top: 110px;
  position: relative;
  left: 2.5%;
  padding: 28px 45px 42px 6px;
  width: 375px;
  background-color: #fff;
  text-align: left;
}

.avatar_face {
  display: block;
  position: absolute;
  top: 17px;
  left: -25px;
  width: 49px;
  height: 49px;
  background-position: 0 -374px;
}

.avatar_link {
  display: inline-block;
  margin-left: 32px;
  margin-top: 0px;
  color: #454545;
  font-size: 30px;
  letter-spacing: -0.32px;
}

.avatar_link_span {
  display: inline-block;
  margin-bottom: 21px;
  color: #edbfff;
  letter-spacing: 0.4px;
}

.avatar_p {
  display: none;
}

.avatar_p__dn {
  display: block;
  width: 350px;
  height: 167px;
  margin-left: 8.5%;
  margin-top: -13px;
  overflow: hidden;
  line-height: 24.1px;
  color: #454545;
  font-family: 'Open Sans Light', arial;
  font-size: 16px;
}

.current {
  display: none;
}

.lage_relative {
  position: relative;
  background: #f9f9f9;
  z-index: 1;
}

.update {
  position: absolute;
  top: 21%;
  left: 52%;
  margin: 0 auto;
  padding-bottom: 0px;
  width: 447px;
  overflow: hidden;
  text-align: left;
  color: #454545;
}

.update_title {
  margin-left: 10px;
  font-size: 30px;
}

.update_link {
  position: absolute;
  right: 8px;
  margin-top: 6px;
  color: #454545;
  font-size: 19px;
  word-spacing: -2px;
  letter-spacing: -0.1px;
}

.menu-nunc_item {
  margin-top: 16px;
  margin-bottom: 15px;
  margin-left: 11px;
  padding-left: 65px;
  height: 49px;
}

.menu-nunc_item_bgr1 {
  background-position: 0 -2384px;
}

.menu-nunc_item_bgr2 {
  margin-top: 19px;
  margin-bottom: 20px;
  background-position: 0 -2603px;
}

.menu-nunc_item_bgr3 {
  margin-top: -5px;
  background-position: 0 -2822px;
}

.menu-nunc_link {
  display: inline-block;
  overflow: hidden;
  width: 330px;
  height: 18px;
  margin-bottom: 6px;
  padding-top: 4px;
  color: #454545;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 16px;
}

.menu-nunc_p {
  display: inline-block;
  overflow: hidden;
  width: 380px;
  height: 18px;
  margin-top: -4px;
  font-size: 16px;
  font-family: 'Open Sans Light', arial;
}

.menu-nunc_p_span {
  letter-spacing: 0px;
  margin-left: -2px;
}

.sponsor {
  position: relative;
  width: 100%;
  margin-top: 26px;
  padding-bottom: 2px;
  overflow: hidden;
}

.sponsor_link {
  margin-bottom: 23px;
}

.sponsor_link__label1 {
  float: left;
  display: inline-block;
  margin-left: 93px;
  margin-right: 65px;
  width: 69px;
  height: 64px;
  background-position: 0 -984px;
}

.sponsor_link__label2 {
  display: inline-block;
  margin-right: 59px;
  width: 72px;
  height: 64px;
  background-position: 0 -1218px;
}

.sponsor_link__label3 {
  display: inline-block;
  margin-left: 3px;
  width: 65px;
  height: 64px;
  background-position: 0 -1452px;
}

.sponsor_link__label4 {
  position: absolute;
  top: 0%;
  left: 51%;
  display: inline-block;
  width: 72px;
  height: 64px;
  background-position: 0 -1686px;
}

.sponsor_link__label5 {
  display: inline-block;
  position: absolute;
  top: 0%;
  left: 53.5%;
  margin-top: 1px;
  margin-left: 107px;
  width: 104px;
  height: 62px;
  background-position: 0 -1920px;
}

.sponsor_link__label6 {
  position: absolute;
  top: 0%;
  left: 82.2%;
  display: inline-block;
  margin-right: 0;
  width: 78px;
  height: 62px;
  background-position: 0 -2152px;
}

.categories {
  position: relative;
  overflow: hidden;
  padding-top: 94px;
  padding-bottom: 38px;
  background-color: #ececec;
  border-top: 1px solid #d8d8d8;
}

.categor {
  display: inline-block;
  margin-bottom: 6px;
  width: 277px;
  text-align: left;
}

.categor_link {
  margin-left: -1px;
  margin-bottom: 20px;
  color: #454545;
  font-size: 30px;
}

.categor_p {
  display: block;
  margin-top: 11px;
  margin-left: 0px;
  width: 285px;
  height: 170px;
  overflow: hidden;
  color: #787878;
  font-family: 'Open Sans Light', arial;
  text-shadow: 0px 2px 2px white;
  behavior: url(PIE.htc);
  line-height: 23.9px;
  font-size: 16px;
}

.categor_p1 {
  margin-top: 7px;
}

.categor_p2 {
  margin-top: 7px;
  letter-spacing: 0.1px;
}

.categor_absolut {
  position: absolute;
  top: 24.5%;
}

.categor_absolut1 {
  position: absolute;
  margin-left: 339px;
  top: 24.5%;
}

.categor__mar {
  margin-right: 62px;
}

.categor_ml {
  display: none;
  margin-right: 60px;
  margin-left: 20px;
}

.categor__mod {
  display: none;
  margin-right: 56px;
  margin-bottom: 55px;
}

.categor_link_log {
  display: block;
  font-size: 20px;
  margin-bottom: 13px;
  color: #454545;
  font-size: 48px;
  text-shadow: 0px 2px 2px white;
  behavior: url(PIE.htc);
  letter-spacing: -0.5px;
}

.categor_link_log_span {
  margin-left: -6px;
  color: #b9b9b9;
  font-size: 48px;
}

.categor_under-span {
  color: #c5c5c5;
  font-style: italic;
  font-family: Georgia ,sans-serif;
  font-size: 16px;
  text-shadow: 0px 3px 2px white;
  behavior: url(PIE.htc);
  letter-spacing: -0.2px;
}

.categor__dn {
  display: none;
}

.menu {
  float: right;
}

.menu__home {
  display: none;
}

.menu_sub__item {
  display: inline-block;
}

.menu_sub__link {
  display: block;
  font-size: 24px;
  color: #fff;
  margin-right: -3px;
  margin-left: 43px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 3px;
}

.menu_sub__link:hover {
  border-bottom: 2px solid #edbfff;
  padding-bottom: 3px;
}

.social-sprite, .company_about_mod, .company_about_mod1, .company_about_mod2 {
  background-image: url("../img/social-s2cbdc76e75.png");
  background-repeat: no-repeat;
}

.company {
  padding-top: 77px;
  padding-bottom: 43px;
  background: url("../img/grad1.jpg") repeat-x;
  border-top: 1px solid #35283c;
  text-align: center;
}

.company_about {
  display: inline-block;
  width: 280px;
  margin-left: 8px;
  margin-bottom: 23px;
  overflow: hidden;
}

.company_about_mod {
  margin-left: 5px;
  padding-left: 50px;
  padding-right: 5px;
  background-position: 0 -593px;
  background-position: 0 -588px;
  line-height: 23.7px;
}

.company_about_mod1 {
  margin-left: 0px;
  padding-left: 55px;
  background-position: 0 0;
  background-position: 3px 7px;
}

.company_about_mod2 {
  margin-left: 4px;
  padding-left: 55px;
  padding-right: 0px;
  background-position: 0 -3698px;
  background-position: 3px -3693px;
}

.company_about__mb {
  margin-bottom: 22px;
  margin-left: 57px;
}

.company_about__mb2 {
  margin-bottom: 22px;
  margin-left: 50px;
}

.company_title {
  margin-top: 2px;
  margin-bottom: 11px;
  vertical-align: top;
  font-size: 30px;
  letter-spacing: -0.2px;
}

.company_p {
  display: block;
  margin-left: -2px;
  width: 233px;
  height: 120px;
  overflow: hidden;
  margin-bottom: 16px;
  font-family: 'Open Sans Light', arial;
  font-size: 16px;
}

.company_p__mod {
  margin-bottom: 17px;
  height: 120px;
  line-height: 24px;
}

.company_link {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-right: 11px;
  float: right;
  color: #fff;
  font-size: 18px;
  letter-spacing: -0.1px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.49);
  behavior: url(PIE.htc);
}

.company_link:hover {
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.86);
  behavior: url(PIE.htc);
}

.company_link1 {
  margin-top: 4px;
  margin-right: 7px;
}

.company_link2 {
  margin-top: 4px;
  margin-right: 3px;
}
