@media (min-width: 481px) and (max-width: 768px) {
  .social-sprite, .main_dote, .avatar_face, .menu-nunc_item_bgr1, .menu-nunc_item_bgr2, .menu-nunc_item_bgr3, .sponsor_link__label1, .sponsor_link__label2, .sponsor_link__label3, .sponsor_link__label4, .sponsor_link__label5, .sponsor_link__label6 {
    background-image: url('../img/social-s2cbdc76e75.png');
    background-repeat: no-repeat;
  }

  .main {
    padding-top: 99px;
    padding-bottom: 4px;
    background-color: #f9f9f9;
    border-top: 1px solid #f9f9f9;
    overflow: hidden;
  }
  .main_dote {
    display: block;
    margin: 0 auto;
    width: 15px;
    height: 15px;
    background-position: 0 -193px;
  }
  .main_hr {
    border-bottom: 1px solid #e6e6e6;
  }

  .avatar {
    position: relative;
    left: 5.5%;
    padding: 28px 45px 42px 6px;
    width: 263px;
    background-color: #fff;
    text-align: left;
  }
  .avatar_face {
    display: block;
    position: absolute;
    top: 17px;
    left: -23px;
    width: 49px;
    height: 49px;
    background-position: 0 -374px;
  }
  .avatar_link {
    display: block;
    margin-left: 33px;
    margin-top: 0px;
    color: #454545;
    font-size: 25px;
    letter-spacing: -0.32px;
  }
  .avatar_link_span {
    display: block;
    margin-bottom: 21px;
    color: #edbfff;
  }
  .avatar_p {
    display: none;
  }
  .avatar_p__dn {
    display: block;
    width: 250px;
    height: 145px;
    margin-left: 12%;
    margin-top: -15px;
    overflow: hidden;
    line-height: 24.1px;
    color: #454545;
    font-family: 'Open Sans Light', arial;
    font-size: 16px;
  }

  .update {
    position: absolute;
    top: 124%;
    left: 52.7%;
    margin: 0 auto;
    padding-bottom: 111px;
    width: 338px;
    overflow: hidden;
    text-align: left;
    color: #454545;
  }
  .update_title {
    margin-left: 10px;
    font-size: 30px;
  }
  .update_link {
    position: absolute;
    right: 0px;
    margin-top: 4px;
    color: #454545;
    font-size: 19px;
    word-spacing: -2px;
    letter-spacing: -0.1px;
  }

  .menu-nunc_item {
    margin-top: 16px;
    margin-bottom: 15px;
    margin-left: 11px;
    padding-left: 65px;
    height: 49px;
  }
  .menu-nunc_item_bgr1 {
    background-position: 0 -2384px;
  }
  .menu-nunc_item_bgr2 {
    margin-top: 19px;
    margin-bottom: 22px;
    background-position: 0 -2603px;
  }
  .menu-nunc_item_bgr3 {
    margin-top: -5px;
    background-position: 0 -2822px;
  }
  .menu-nunc_link {
    display: inline-block;
    overflow: hidden;
    width: 330px;
    height: 17px;
    margin-bottom: 8px;
    padding-top: 4px;
    color: #454545;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
  }
  .menu-nunc_p {
    display: inline-block;
    overflow: hidden;
    width: 260px;
    height: 17px;
    margin-top: -4px;
    font-size: 16px;
    font-family: 'Open Sans Light', arial;
  }

  .sponsor {
    width: 370px;
    margin-top: 26px;
  }
  .sponsor_link {
    margin-bottom: 23px;
  }
  .sponsor_link__label1 {
    float: left;
    display: inline-block;
    margin-left: 22px;
    margin-right: 55px;
    width: 69px;
    height: 64px;
    background-position: 0 -984px;
  }
  .sponsor_link__label2 {
    display: inline-block;
    margin-right: 49px;
    width: 72px;
    height: 64px;
    background-position: 0 -1218px;
  }
  .sponsor_link__label3 {
    display: inline-block;
    margin-left: 3px;
    width: 65px;
    height: 64px;
    background-position: 0 -1452px;
  }
  .sponsor_link__label4 {
    position: absolute;
    top: 161.5%;
    left: 50.5%;
    display: inline-block;
    width: 72px;
    height: 64px;
    background-position: 0 -1686px;
  }
  .sponsor_link__label5 {
    display: inline-block;
    position: absolute;
    top: 161.5%;
    left: 52.5%;
    margin-top: 1px;
    margin-left: 107px;
    width: 104px;
    height: 62px;
    background-position: 0 -1920px;
  }
  .sponsor_link__label6 {
    position: absolute;
    top: 161.6%;
    left: 87.1%;
    display: inline-block;
    margin-right: 0;
    width: 78px;
    height: 62px;
    background-position: 0 -2152px;
  }

  .categories {
    padding-top: 100px;
    padding-bottom: 38px;
    background-color: #ececec;
    border-top: 1px solid #d8d8d8;
  }

  .categor {
    display: inline-block;
    margin-bottom: 52px;
    width: 205px;
    text-align: left;
  }
  .categor_link {
    margin-left: -1px;
    margin-bottom: 20px;
    color: #454545;
    font-size: 24px;
  }
  .categor_p {
    display: block;
    margin-top: 9px;
    margin-left: -2px;
    width: 210px;
    height: 170px;
    overflow: hidden;
    color: #787878;
    font-family: 'Open Sans Light', arial;
    line-height: 24.2px;
    font-size: 16px;
  }

  .categor_ml {
    margin-right: 60px;
    margin-left: 20px;
  }

  .categor__mod {
    margin-right: 56px;
    margin-bottom: 55px;
  }

  .categor_dn {
    display: none;
  }
}
